img {
  width:400px;
  height:110px;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed',sans-serif!important;
}

.container-fluid {
  font-family: 'Roboto Condensed',sans-serif!important;
}

.col {
  margin: 0;
  padding: 0;
}

h6 {
  text-decoration: underline;
  color: grey;
  font-weight: bold;
}

#listbreak {
  margin: 0;
  padding: 0;
}
